# Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# Load data

In [2]:
train_data = pd.read_csv("data/train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_data = pd.read_csv("data/test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

# Data Exploration

In [4]:
survived_women = train_data.loc[train_data["Sex"] == "female"]["Survived"]
survived_women_rate = sum(survived_women) / len(survived_women)
print("Percentage of women that survived:", survived_women_rate*100)

Percentage of women that survived: 74.20382165605095

In [5]:
survived_men = train_data.loc[train_data["Sex"] == "male"]["Survived"]
survived_men_rate = sum(survived_men) / len(survived_men)
print("Percentage of men that survived:", survived_men_rate*100)

Percentage of men that survived: 18.890814558058924

# Feature engineering

In [6]:
y = train_data["Survived"]
feature_columns = ["Pclass", "Sex", "SibSp", "Parch"]

# One-hot encode each feature for both train and test sets
x_train = pd.get_dummies(train_data[feature_columns])
x_test = pd.get_dummies(test_data[feature_columns])

# Create the model

In [7]:
# Create a Random Forest Classifier model of 100 trees where\
# each tree can have height 5 at max
model = RandomForestClassifier(
    n_estimators=100,
    max_depth=5,
    random_state=1
)

# Train the model

In [8]:
model.fit(x_train, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1, verbose=0,
                       warm_start=False)

# Make predictions

In [9]:
predictions = model.predict(x_test)

# Create result file

In [10]:
# Create a two-column DataFrame
# "PassengerId" contains the ids from the test set and "Survived"\
# contains the model predictions
result_file = pd.DataFrame({"PassengerId": test_data["PassengerId"], "Survived": predictions})
result_file.to_csv("my_submission.csv", index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!